$contentBackground: null !default;

@mixin headingMixin{
	text-transform: uppercase;
	text-align: left;
	font-style: normal; 
	padding: 10px 15px;
	background: $tableCapColor;
	color: #000000;
	}
@mixin trMixin{
	padding: 10px 15px;
	text-indent: 20px;
	border-color: #ffffff;
	border-bottom: 5px solid #ffffff;	
	}
	
@mixin tableRow($tableMainBackground){
	background: $tableMainBackground;
	tr {padding: 15px 15px;}
	}
	
@mixin factMixin($factBackground, $textFactColor, $elemFloat, $width){ 
	background-color: $factBackground;
	color: $textFactColor;
	float: $elemFloat;
	width: $width;
	
	}

@mixin imgMixin($pictureBorderColor){
	border: 2px solid $pictureBorderColor;
	padding: 2px;
	}


body{
	  background: $backgroundColor;
	  color: $mainTextColor;
	  
#content {
  width: 960px;
  margin: 0 auto;
  background: $contentBackground;
  padding: 20px;
  
	h1{ 
		text-transform: $hedingCase;
		color: $textHeaderColor;
		text-align: center;
	}
	h2{ 
		color: $textHeaderColor;
	}
	.img-left{
		float: left;
		margin: 0px 20px 10px 0px;
		@include imgMixin($pictureBorderColor);
	} 
	.brief {
		margin: 0px 20px 10px 0px;
		padding: 20px;
		@include factMixin($factBackground, $textFactColor, $elemFloat, $width);
	}
	.img-right{
		float: right;
		margin: 0px 0px 5px 20px;
		@include imgMixin($pictureBorderColor);
	}
	 a:link{
		color: $colorOflinks;
		}
	table{
		width: 900px;
		height: 315px;
		background: $tableMainBackground;
		caption{
			text-align: right;
			color: #000000;
			}
		th{
			@include headingMixin;
			}
		tr{	
			@include trMixin;
			}
		}
		.form {
			color: $formTextColor;
			.text_field {
				span{
					display: block;
					margin-bottom: 5px;
					}
				display:inline-block;
			}
			p {
				margin-top: 20px;
				margin-bottom: 5px;
				}
			input[type = "email"] {
				border: 1px solid $tableCapColor;
				padding: 5px;
			}
			input[type = "text"] {
				
				padding: 5px;
			}
			textarea {
				color: $textareaColor;
				padding: 5px;
				}
			input[type = "submit"]{
				font-size: 120%;
				color: $btnSubmitColor;
				background: $contentBackground;
				padding: 10px 55px 10px 55px;
				margin-top: 20px;
				border: 1px solid $btnSubmitColor;
			}
			
		}
	}
}
