$backgroundColor: rgba(198, 238, 252, 0.53);
$factBackground: #fff178;
$textFactColor: #000000;
$contentBackground: #3b3b3b;
$textHeaderColor: #fccd10;
$pictureBorderColor: #fccd10;
$mainTextColor: #ffffff; 
$colorOflinks: #fccd10;
$tableCapColor: #94a34e;
$tableMainBackground: #677d01;
$formTextColor: #f5c70f;
$textareaColor: #808080;
$btnSubmitColor: #f5c70f;
$elemFloat: none;
$hedingCase: uppercase;
$width: 920px;