$backgroundColor: #dcbb9a;
$factBackground: #fadcba;
$textFactColor: #000000;
$contentBackground: #ffffff; 
$textHeaderColor: #893c00;
$pictureBorderColor: #893c00;
$mainTextColor: #000000; 
$colorOflinks: #3d70a1;
$tableCapColor: #e0e0e0;
$tableMainBackground: #ffffff;
$formTextColor: #808080;
$textareaColor: #808080;
$btnSubmitColor: #3d70a1;
$elemFloat: left;
$hedingCase: none;
$width: 380px;